In [1]:
print('Hello world')

Hello world

In [23]:
var_1 = 10
var_2 = -10

if var_1 == var_2:
    print("var_1 equal var_2")
elif var_1 < var_2:
    print("var_1 less than var_2")
else:
    print("var_1 more than var_2")

var_1 more than var_2

In [4]:
if var>3: print('Its too big')

Its too big

In [5]:
null_variable = None
not_null_variable = 'something'

if null_variable == None:
    print('null_variable is None')
else:
    print('null_variable is not None')

if not_null_variable == None:
    print('not_null_variable is None')
else:
    print('not_null_variable is not None')

null_variable is None
not_null_variable is not None

In [ ]:
type(None)
type(True)
type(False)
type(1)
type(5.3)
type(5 + 4j)
type([1, 5.3, False, 4])
type((1, True, 3, 5+4j))
type(range(5))
type('Hello')
type(b'a')
type(bytearray([1,2,3]))
type(memoryview(bytearray('XYZ', 'utf-8')))
type(frozenset({1, 2, 3}))
type({'a' : 32})

In [21]:
a = True
b = False
(a and b) or not (a and b)

True

In [22]:
1<<2

4

In [27]:
var = input()
var1 = input()

if var>var1:
    print('First number is bigger')
elif var<var1:
    print('Second number is bigger')
else:
    print('You have entered equals numbers')

1
2
Second number is bigger

In [31]:
var1 = input()
var2 = input()
var3 = input()
countVar = 0
if var1==var2: countVar+=1
if var2==var3: countVar+=1
if var1==var3: countVar+=1
print(countVar)

1
2
3
0

In [34]:
var = 1
while var <= 5:
    print(var)
    var+=1

1
2
3
4
5

In [35]:
for i in [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9 , 10, 11, 12, 13]:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [39]:
for i in range(0,14):
    print(i)

-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [40]:
for var in 'Python':
    if var == 'h':
        continue
    print(var)

P
y
t
o
n

In [43]:
for var in 'Python':
    if var == 'a':
        break
    else:
        print('Символа a нет в слове Python')

Символа a нет в слове Python
Символа a нет в слове Python
Символа a нет в слове Python
Символа a нет в слове Python
Символа a нет в слове Python
Символа a нет в слове Python

In [48]:
countvar = 0
for i in [0,1,2,3,0]:
    if i == 0: countvar +=1
print(countvar)

2

In [124]:
Ssize = 10
for i in range(1,Ssize):
    Stp = ''
    for j  in range(-i,0): Stp = str(-j)+Stp
    for j  in range(1,i): Stp = Stp+str(i-j) 
    for j  in range(1,Ssize-i): Stp = str(' ')+Stp
    print(Stp)
for i in range(1,Ssize-1):
    Stp = ''
    for j  in range(-Ssize+1+i,0): Stp = str(-j)+Stp
    for j  in range(1,Ssize-1-i): Stp = Stp+str(Ssize-1-i-j) 
    for j  in range(1,i+1): Stp = str(' ')+Stp
    print(Stp)

        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
12345678987654321
 123456787654321
  1234567654321
   12345654321
    123454321
     1234321
      12321
       121
        1

In [138]:
Ssize = 10
for i in range(1,Ssize):
    Stp = ''
    for j  in range(-i,0): Stp = str(' ')+Stp
    for j  in range(0,i): Stp = Stp+str(i-j) 
    for j  in range(1,Ssize-i): Stp = str(' ')+Stp
    print(Stp)
for i in range(1,Ssize+1):
    Stp = ''
    for j  in range(-Ssize+i,0): Stp = str(-j)+Stp
    for j  in range(1,i): Stp = str(' ')+Stp
    print(Stp)

         1
         21
         321
         4321
         54321
         654321
         7654321
         87654321
         987654321
123456789
 12345678
  1234567
   123456
    12345
     1234
      123
       12
        1

In [145]:
zero = ["  ***  ", " *   * ", "*     *", "*     *", "*     *"," *   * ","  ***  "]
one = [" * ", "** ", " * ", " * ", " * ", " * ", "***"]
two = [" *** ", "*   *", "*  * ", "  *  ", " *   ", "*    ", "*****"]
three = [" *** ", "*   *", "    *", "  ** ", "    *", "*   *", " *** "]
four = ["   *  ", "  **  ", " * *  ", "*  *  ", "******", "   *  ", "   *  "]
five = ["*****", "*    ", "*    ", " *** ", "    *", "    *", "**** "]
six = ["*    ", "*    ", "*    ", "**** ", "*   *", "*   *", "**** "]
seven = ["*****", "    *", "   * ", "  *  ", " *   ", "*    ", "*    "]
eight = [" *** ", "*   *", "*   *", " *** ", "*   *", "*   *", " *** "]
nine = [" ****", "*   *", "*   *", " ****", "    *", "    *", "    *"]

digits = [zero, one, two, three, four, five, six, seven, eight, nine]

number = '0123456789'

for row in range(7):
    line = ""
    for digit in number:
        line += digits[int(digit)][row] + "  "
    print(line)

  ***     *    ***    ***      *    *****  *      *****   ***    ****
 *   *   **   *   *  *   *    **    *      *          *  *   *  *   *
*     *   *   *  *       *   * *    *      *         *   *   *  *   *
*     *   *     *      **   *  *     ***   ****     *     ***    ****
*     *   *    *         *  ******      *  *   *   *     *   *      *
 *   *    *   *      *   *     *        *  *   *  *      *   *      *
  ***    ***  *****   ***      *    ****   ****   *       ***       *

In [149]:
s = 'Python'
print(s[:4])

Pyth

In [152]:
s = 'PythonohtyP'
s.find('t')
# find(str, [start],[end])

2

In [154]:
s = 'Python'
s.index('t')

2

In [159]:
w = 'Abraсadabra'
w[2]

'A'

In [160]:
w[len(w)-2]

'r'

In [161]:
w[:5]

'Abraс'

In [162]:
w[:len(w)-2]

'Abraсadab'

In [166]:
w[0:len(w)]

'Abraсadabra'

In [183]:
ww = ''
for i in range(0,len(w)):
    if i%2 == 0: ww = ww + w[i]
print(ww)

Arсdba

In [196]:
ww = ''
for i in range((-len(w)+1),1):
    if i%2 == 0:ww = ww + w[-i]
print(ww)

abdсrA

In [225]:
phrase = 'word1 word2 word3'
ListWords = phrase.split(' ') 
for i in range(0,len(ListWords)):
    ListWords[i] = ListWords[i][0].upper()+ListWords[i][1:]
print(' '.join(ListWords))

Word1 Word2 Word3

In [228]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [229]:
a = ['P', 'y', 't', 'h', 'o', 'n']
b = [i * 3 for i in a]
b

['PPP', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [236]:
b.append('fff')
b

['PPP', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn', 'fff', 'fff', 'fff', 'fff', 'fff']

In [238]:
b.remove('fff')
b

['PPP', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn', 'fff', 'fff', 'fff']

In [242]:
b.pop(2)
b

['PPP', 'yyy', 'fff', 'fff', 'fff']

In [243]:
b.count('fff')

3

In [244]:
a = ['P', 'y', 't', 'h', 'o', 'n']
b = a
a.reverse()
print(a)
print(b)

['n', 'o', 'h', 't', 'y', 'P']
['n', 'o', 'h', 't', 'y', 'P']

In [245]:
a = ['P', 'y', 't', 'h', 'o', 'n']
b = a.copy()
a.reverse()
print(a)
print(b)

['n', 'o', 'h', 't', 'y', 'P']
['P', 'y', 't', 'h', 'o', 'n']

In [296]:
numbers = [1,2,3,4,5]
message = []
for i in range(0,len(numbers)-1):
    if i%2 == 0: message.append(numbers[i])
print(message)

[1, 3]

In [297]:
numbers = [1,5,2,4,3]
message = []
for i in range(1,len(numbers)-1):
    if numbers[i-1]<numbers[i]: message.append(numbers[i])
print(message)

[5, 4]

In [312]:
numbers = [-5,5,10]
message = []
maxN = numbers[0]
minN = numbers[0]
for i in range(1,len(numbers)):
    if maxN<numbers[i]: maxN = numbers[i]
    if minN>numbers[i]: minN = numbers[i]
numbers[numbers.index(maxN)] = minN
numbers[numbers.index(minN)] = maxN
print(numbers)

[10, 5, -5]

In [313]:
d = dict(short='dict', long='dictionary')
print(d)

{'short': 'dict', 'long': 'dictionary'}

In [314]:
d = dict([(1, 1), (2, 4)])
print(d)

{1: 1, 2: 4}

In [315]:
d = dict.fromkeys(['a', 'b'], 100)
print(d)

{'a': 100, 'b': 100}

In [316]:
d.items()

dict_items([('a', 100), ('b', 100)])

In [317]:
d.keys()

dict_keys(['a', 'b'])

In [318]:
d.update({'c':101})

In [319]:
d.items()

dict_items([('a', 100), ('b', 100), ('c', 101)])

In [320]:
d.get('a')

100

In [321]:
d = dict({'Hello':'Hi','Bye':'Goodbye','List':'Array'})
ask = input()
d.keys(ask)

Hello

'Hi'

In [323]:
d = dict({'Hello':'Hi','Bye':'Goodbye','List':'Array'})
ask = input()
for theKey, theValue in d.items():
    if theValue == ask: print(theKey)

Hi
Hello

In [361]:
d = ['abc','bcd','abc','abd','abd','dcd','abc']
dd = dict({})
for i in range (0, len(d)):
    if dd.get(d[i]) == None: dd.update({d[i]:1})
    else: dd[d[i]] = int(dd[d[i]])+1
list(dd.values())

[3, 1, 2, 1]

In [362]:
d = ['abc','bcd','abc','abd','abd','dcd','abc']
dd = set(d)

{'abc', 'abd', 'bcd', 'dcd'}

In [363]:
'abc' in dd

True

In [366]:
d = [1,2,3,2,1]
len(set(d))

3

In [370]:
d = [1,2,3]
dd = [1,4,5]
(len(d)+len(dd))-len(set(d).union(dd))

1

In [372]:
d = set(d)
dd = set(dd)
d.issubset(dd)

False

In [374]:
d = set([1,2,3,4,5,6,7])
dd = set([10,9,8,7,6,5,4,3,2,1,0])
d.issubset(dd)

True

In [376]:
def sum(x, y):
    return x + y
sum(1,2)

3

In [417]:
def calc(x):
    numb1 = ''
    numb2 = ''
    operator = ''
    setoper = set({'+','-','*','/','%','**'})
    for i in x:
        if not str(i).isnumeric(): operator+=i
        if operator == '' and str(i).isnumeric():numb1 += i
        if operator != '' and str(i).isnumeric():numb2 += i
    if operator == '+': numb1 = int(numb1) + int(numb2)
    elif operator == '-': numb1 = int(numb1) + int(numb2)
    elif operator == '*': numb1 = int(numb1) * int(numb2)
    elif operator == '/': numb1 = int(numb1) / int(numb2)
    elif operator == '%': numb1 = int(numb1) / 100
    elif numb2 != '' and operator == '**': numb1 = int(numb1) ** int(numb2)
    elif numb2 == '' and operator == '**': numb1 = int(numb1) * int(numb1)
    return numb1
calc('111**')

12321

In [431]:
f = open(r'C:\Users\Макс\Documents\MATLAB\VVV.txt','r+',encoding='utf-8')
f.write('This is not the end!\n')
for line in f:
    print(line)
f.close()

31	3942.5	0.0042	4	3	0.194	0.275	0.02625	0.03875	0.0035	0.0065	0.04575	0.05825	0.011	0.021

61	7237	0.0072	4	3	0.17775	0.25825	0.02175	0.03425	0.004	0.007	0.04675	0.05925	0.01225	0.02225

91	10506.5	0.0087	4	3	0.1665	0.2475	0.02225	0.03475	0.0045	0.0075	0.04825	0.06075	0.014	0.024

184	19466.5	0.0084	4	3	0.14825	0.22975	0.024	0.036	0.00525	0.00825	0.052	0.064	0.01625	0.02625

366	37260	0.0097	4	3	0.132	0.213	0.0265	0.0385	0.007	0.0095	0.058	0.07	0.0205	0.0305

This is not the end!This is not the end!This is not the end!

In [318]:


def check_line(list_in):
    if ('' != list_in.split(',')[1].strip() and 
        '' != list_in.split(',')[2].strip() and 
        '' != list_in.split(',')[3].strip() and 
        '' != list_in.split(',')[4].strip() and 
        len(list_in.split(',')[3].strip())==7):
        return True
    else: return False

In [59]:
print(email_gen([['Ivan', 'Petrov'],['Dsdfsd', 'Dsdf'] ]))


f = open(r'D:\Coding\Python\2020.04.28\task_file.txt','r+',encoding='utf-8')
list_f = []
list_in = list(f).copy()

for i in range(1,len(list_in)):
    if check_line(list_in[i]):
        list_f.append(list_in[i].split(', ')[1:3])
    
p = email_gen(list_f)
for q in range(0,len(list_f)):
    print(list_f[q][1] + ' - ' + p[q])

f.close()

#         for ii in range(i+1,len(list_in)):     
#             if (list_in[ii].split(',')[1] == list_in[i].split(',')[1] and 
#                 list_in[ii].split(',')[2] == list_in[i].split(',')[2] and
#                 check_line(list_in[ii])):
#                 temp_f.append([list_in[ii].split(',')[1].split(), 
#                                list_in[ii].split(',')[2].split()])

['Petrov.I@company.io', 'Dsdf.D@company.io']
Abramov - Abramov.I@company.io
Nikolaev - Nikolaev.A@company.io
Shapar - Shapar.M@company.io
Vasilyev - Vasilyev.D@company.io
Grigoryan - Grigoryan.A@company.io
Lisitsyn - Lisitsyn.A@company.io
Abramova - Abramova.D@company.io
Kostina - Kostina.N@company.io
Ermolin - Ermolin.N@company.io
Solovovo - Solovovo.V@company.io
Ivanov - Ivanov.V@company.io
Nikolaev - Nikolaev.S@company.io
Ivanov - Ivanov.I@company.io
Semenov - Semenov.K@company.io
Smirnov - Smirnov.G@company.io
Lashko - Lashko.A@company.io
dwfef - dwfef.s@company.io
Edger - Edger.O@company.io
Bogomolova - Bogomolova.O@company.io
Strizh - Strizh.E@company.io
Volskaya - Volskaya.P@company.io
Malinin - Malinin.F@company.io
Pahomova - Pahomova.O@company.io
Bogdanov - Bogdanov.S@company.io
Smirnov - Smirnov.D@company.io
Kolokolkina - Kolokolkina.V@company.io
Sobolev - Sobolev.I@company.io
Orlova - Orlova.K@company.io
Ermolin - Ermolin.A@company.io
Vasilevskaya - Vasilevskaya.E@company.io
Koroleva - Koroleva.T@company.io
Moskvina - Moskvina.E@company.io
Sinev - Sinev.M@company.io
NO_NAME - NO_NAME.N@company.io
Boshich - Boshich.A@company.io
Kapustina - Kapustina.S@company.io
Nikolaev - Nikolaev.B@company.io
Mozgvin - Mozgvin.A@company.io
Bogatyreva - Bogatyreva.O@company.io
Nosatenko - Nosatenko.K@company.io
sfewrfw - sfewrfw.f@company.io
Grigoriev - Grigoriev.K@company.io

In [66]:
import datetime as dt
print(dt.datetime.today())
print(dt.datetime.utcnow())

2020-05-04 13:43:38.475151
2020-05-04 03:43:38.475150

In [95]:
import random as rg
print(rg.randrange(9,10,2))
print(rg.choice('Hello world!'))
st = list('Hello world!')
rg.shuffle(st)
print(st)
print(rg.random())

9
l
['l', ' ', 'r', '!', 'w', 'e', 'l', 'o', 'o', 'H', 'd', 'l']
0.28203183389416275

In [151]:
import re
st = 'Hello-world!'
print(re.match(r'He',st))
print(re.search(r'wo',st))
print(re.sub(r'world','hell', st))
print(re.findall(r'w....',st))
print(re.findall(r'w?',st))
print(re.findall(r'o+',st))
print(re.findall(r'o*',st))
print(re.findall(r'\w',st))
st = 'Hello1world!'
print(re.findall(r'\d',st))
st = 'Hello world!'
print(re.findall(r'\b\w',st))
print(re.findall(r'...$',st))
print(re.findall(r'^...',st))

st = 'asdasd asdada a12313sdasdsa 67.19.240.114 sdsdf'
print(re.findall(r'\d+\.\d+\.\d+\.\d+',st))
print(re.findall(r'\d+\.\d+',st))

<re.Match object; span=(0, 2), match='He'>
<re.Match object; span=(6, 8), match='wo'>
Hello-hell!
['world']
['', '', '', '', '', '', 'w', '', '', '', '', '', '']
['o', 'o']
['', '', '', '', 'o', '', '', 'o', '', '', '', '', '']
['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
['1']
['H', 'w']
['ld!']
['Hel']
['67.19.240.114']
['67.19', '240.114']

In [322]:
import re
f = open(r'D:\Coding\Python\2020.04.28\task_file.txt','r+',encoding='utf-8')
lines = f.read().splitlines()[1:]
f.close()
data_set=[]

for line in lines:
    temp = re.split(r', ',line)
    if ('' not in temp[1:5] and 
        re.findall(r'\d\d\d\d\d\d\d',temp[3])!=[]):
        data_set.append(temp[1:5])
emails = email_gen(data_set)
print(emails)

def email_gen(list_of_names):
    emails = []
    for i in list_of_names:
        letter = 1
        while i[1] + '.' + i[0][0:letter] + '@company.io' in emails:
            letter+=1
            print(letter)
        emails.append(i[1] + '.' + i[0][0:letter] + '@company.io')
    return emails

['Abramov.I@company.io', 'Nikolaev.A@company.io', 'Shapar.M@company.io', 'Vasilyev.D@company.io', 'Grigoryan.A@company.io', 'Fedorov.A@company.io', 'Lisitsyn.A@company.io', 'Abramova.D@company.io', 'Kostina.N@company.io', 'Ermolin.N@company.io', 'Solovovo.V@company.io', 'Ivanov.V@company.io', 'Nikolaev.S@company.io', 'Ivanov.I@company.io', 'Semenov.K@company.io', 'Smirnov.G@company.io', 'Lashko.A@company.io', 'dwfef.s@company.io', 'Edger.O@company.io', 'Bogomolova.O@company.io', 'Strizh.E@company.io', 'Sergach.V@company.io', 'Volskaya.P@company.io', 'Malinin.F@company.io', 'Pahomova.O@company.io', 'Bogdanov.S@company.io', 'Sobolev.I@company.io', 'Orlova.K@company.io', 'Ermolin.A@company.io', 'Vasilevskaya.E@company.io', 'Koroleva.T@company.io', 'Moskvina.E@company.io', 'Sinev.M@company.io', 'NO_NAME.N@company.io', 'Boshich.A@company.io', 'Kapustina.S@company.io', 'Nikolaev.B@company.io', 'Mozgvin.A@company.io', 'Bogatyreva.O@company.io', 'Nosatenko.K@company.io', 'sfewrfw.f@company.io', 'Grigoriev.K@company.io']

In [334]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a[:4])

[1, 2, 3, 4]

In [335]:
print('sdff' + 5)

TypeError: can only concatenate str (not "int") to str

In [336]:
print(1|3|4)

7

In [359]:
'Python'[0:3]

'Pyt'

In [371]:
dfd = 'From marquard@uct.ac.za'
print(dfd[-2:])

za

In [1]:
var = 11
print(var)

11

In [1]:

35	3746.5	0.0023	4	3	0.136	0.217	0.02625	0.03875	0.0035	0.0065	0.04575	0.05825	0.011	0.021
63	6835	0.003	4	3	0.1315	0.2125	0.02175	0.03425	0.004	0.007	0.04675	0.05925	0.01225	0.02225
96	10081.5	0.0041	4	3	0.12725	0.20775	0.02225	0.03475	0.0045	0.0075	0.04825	0.06075	0.014	0.024
188	18860.5	0.0061	4	3	0.1205	0.2015	0.024	0.036	0.00525	0.00825	0.052	0.064	0.01625	0.02625
369	35330	0.00681	4	3	0.11125	0.19275	0.0265	0.0385	0.007	0.0095	0.058	0.07	0.0205	0.0305




import pandas as pd
from scipy import interpolate

SPOT = 60
MarketData = pd.read_csv('C:/Users/Макс/Documents/MATLAB/DataVS.csv',sep = ";", header=None)
MarketData.columns = [ "Days","SWAP_Points","CCY1_Rates", "Delta_Conv",   
   "ATM_Conv","ATM_BID", "ATM_ASK","25RR_BID","25RR_ASK","25BF_BID", 
   "25BF_ASK","10RR_BID","10RR_ASK","10BF_BID","10BF_ASK"]

Col = ["T_expiry","T_delivery","SPOT","Forward","Delta_type","IRate_CCY1",
    "IRate_CCY2","Vola_RR_25","Vola_BF_25","Vola_RR_10","Vola_BF_10",
    "Vola_ATM_Spread","Vola_25RR_Spread","Vola_10RR_Spread",
    "Vola_Put_10","Vola_Put_25","Vola_ATM","Vola_Call_25",
    "Vola_Call_10","Strike_Put_10","Strike_Put_25","Strike_ATM",
    "Strike_Call_25","Strike_Call_10","Alpha","Nu","Rho","Beta","Error",
    "Error_Value","Iterations","25BF_Check","10BF_Check"]
Rws = list(MarketData["Days"].T)
MainDataSet = pd.DataFrame(index = Rws, columns = Col)

MainDataSet["T_expiry"] = list(MarketData["Days"])
MainDataSet["T_delivery"] = list(MarketData["Days"])
MainDataSet["SPOT"] = SPOT

f_fwd = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["SWAP_Points"]))
f_DeltaType = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["Delta_Conv"]))
f_IR1 = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["CCY1_Rates"]))

f_25RR_B = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["25RR_BID"]))
f_25RR_A = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["25RR_ASK"]))
f_25BF_B = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["25BF_BID"]))
f_25BF_A = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["25BF_ASK"]))

f_10RR_B = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["10RR_BID"]))
f_10RR_A = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["10RR_ASK"]))
f_10BF_B = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["10BF_BID"]))
f_10BF_A = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["10BF_ASK"]))

f_ATM_B = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["ATM_BID"]))
f_ATM_A = interpolate.interp1d(list(MarketData["Days"]), list(MarketData["ATM_ASK"]))

MainDataSet["Forward"] = MainDataSet.apply(lambda row: (row["SPOT"]+f_fwd(row["T_delivery"])/10000)/row["SPOT"], axis = 1)
MainDataSet["Delta_type"] = MainDataSet.apply(lambda row: f_DeltaType(row["T_delivery"]), axis = 1)
MainDataSet["IRate_CCY1"]=MainDataSet.apply(lambda row: f_IR1(row["T_delivery"]), axis = 1)
MainDataSet["IRate_CCY2"]=MainDataSet.apply(lambda row: row["Forward"]*row["IRate_CCY1"], axis = 1)                                           

MainDataSet["Vola_RR_25"] = MainDataSet.apply(lambda row: 0.5*(f_25RR_B(row["T_delivery"])+f_25RR_A(row["T_delivery"])), axis = 1)
MainDataSet["Vola_BF_25"] = MainDataSet.apply(lambda row: 0.5*(f_25BF_B(row["T_delivery"])+f_25BF_A(row["T_delivery"])), axis = 1)

MainDataSet["Vola_RR_10"] = MainDataSet.apply(lambda row: 0.5*(f_10RR_B(row["T_delivery"])+f_10RR_A(row["T_delivery"])), axis = 1)
MainDataSet["Vola_BF_10"] = MainDataSet.apply(lambda row: 0.5*(f_10BF_B(row["T_delivery"])+f_10BF_A(row["T_delivery"])), axis = 1)

MainDataSet["Vola_ATM"] = MainDataSet.apply(lambda row: 0.5*(f_ATM_B(row["T_delivery"])+f_ATM_A(row["T_delivery"])), axis = 1)

MarketData
#MainDataSet.T

,Days,SWAP_Points,CCY1_Rates,Delta_Conv,ATM_Conv,ATM_BID,ATM_ASK,25RR_BID,25RR_ASK,25BF_BID,25BF_ASK,10RR_BID,10RR_ASK,10BF_BID,10BF_ASK
0,35,3746.5,0.00230,4,3,0.13600,0.21700,0.02625,0.03875,0.00350,0.00650,0.04575,0.05825,0.01100,0.02100
1,63,6835.0,0.00300,4,3,0.13150,0.21250,0.02175,0.03425,0.00400,0.00700,0.04675,0.05925,0.01225,0.02225
2,96,10081.5,0.00410,4,3,0.12725,0.20775,0.02225,0.03475,0.00450,0.00750,0.04825,0.06075,0.01400,0.02400
3,188,18860.5,0.00610,4,3,0.12050,0.20150,0.02400,0.03600,0.00525,0.00825,0.05200,0.06400,0.01625,0.02625
4,369,35330.0,0.00681,4,3,0.11125,0.19275,0.02650,0.03850,0.00700,0.00950,0.05800,0.07000,0.02050,0.03050

In [11]:
MarketData

,Days,SWAP_Points,CCY1_Rates,Delta_Conv,ATM_Conv,ATM_BID,ATM_ASK,25RR_BID,25RR_ASK,25BF_BID,25BF_ASK,10RR_BID,10RR_ASK,10BF_BID,10BF_ASK
0,35,3746.5,0.00230,4,3,0.13600,0.21700,0.02625,0.03875,0.00350,0.00650,0.04575,0.05825,0.01100,0.02100
1,63,6835.0,0.00300,4,3,0.13150,0.21250,0.02175,0.03425,0.00400,0.00700,0.04675,0.05925,0.01225,0.02225
2,96,10081.5,0.00410,4,3,0.12725,0.20775,0.02225,0.03475,0.00450,0.00750,0.04825,0.06075,0.01400,0.02400
3,188,18860.5,0.00610,4,3,0.12050,0.20150,0.02400,0.03600,0.00525,0.00825,0.05200,0.06400,0.01625,0.02625
4,369,35330.0,0.00681,4,3,0.11125,0.19275,0.02650,0.03850,0.00700,0.00950,0.05800,0.07000,0.02050,0.03050